[Unit] 
Description=Leap Motion Deamon

[Service]
Type=simple
Restart=on-failure
Environment=LC_ALL=C
ExecStart=/usr/sbin/leapd

[Install]
WantedBy=graphical.target